.app-header {
  border: 4px inset red;
   display: flex;
   box-shadow: 10px 10px 5px grey;
    width: 150px;
    border-radius: 10px;
}

.app-count {
  margin-top: 5px;
   text-align: center;
   padding-left: 50px;
   }

.block {
display: block;
float: left;
  text-align: center;

}
div {
  float: left;
  text-align: center;
}

.off-button {
  background: -moz-linear-gradient(#D0ECF4, #5BC9E1, #D0ECF4);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#D0ECF4), to(#D0ECF4), color-stop(0.5, #5BC9E1));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
  padding: 3px 7px;
  color: #333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #666;
  margin-top: 5px;
  margin-left: 15px; }
